.style-color{
  background-color: black;
  color: white;
 
}
.style-head{
  color: white;
}
.style-margin{
  margin: 90px;

}
.styles{
  background-color: black;
  
}
.styles:hover{
  background-color: rgb(67, 66, 66);
  color: bisque;
  border-radius: 10px;
}
.custom-content{
  background-color: black;
  color: white;
}
.buttom-border:hover{
  border-bottom: 1px solid white;
}
.styletemp{
  border-bottom: 1px solid white;

}